.messagebox {
    overflow:hidden;
}

.messagebox.bbcodepreview {
    overflow:auto;
}

.messagebox.write {
    background:rgba(0,0,0,0.6);
    padding:5px;
}

.no-touch .messagebox a:hover {
    text-decoration:underline;
}

.messagebox .tabsbelow a:link,.messagebox .tabsbelow a:visited {
    color:#848484;
}

.messagebox a.tips:link,.messagebox a.tips:visited,.no-touch .messagebox a.tips:hover,.messagebox a.tips:active {
    color:#636363;
    text-decoration:none;
}

.messagebox form {
    margin:0;
    padding:0;
}

.messagebox table {
    width:99%!important;
}

.messagebox .contentpaginator {
    background:#13181d;
    padding-bottom:5px;
    margin:0;
}

.messagebox .contentpaginator td {
    text-align:center;
}

.messagebox th {
    color:#fff;
    text-align:right;
    vertical-align:top;
}

.infohead table th,.infohead table td,.messagebox td.pages {
    font:100 11px Verdana,Arial,Helvetica,sans-serif;
}

.infohead table th {
    font-weight:700;
    line-height:20px;
    padding-right:10px;
    width:182px;
}

.infohead span.new {
    font-weight:700;
    padding-left:10px;
}

.infohead span.new span {
    background-color:#848484;
    color:#0a0a0d;
    text-transform:uppercase;
    padding:0 3px;
}

#networkm #TB_window body,#networkm #TB_window html {
    border-style:none;
    border-width:0;
}

.messagebox .textWrapper,.messagebox .textWrapperSmall {
    background:rgba(0,0,0,0.6);
    overflow-x:hidden;
    overflow-y:auto;
    max-height:530px;
    padding:10px;
}

.buddyRequest .messagebox .textWrapper,.buddyRequest .messagebox .textWrapperSmall {
    padding:0;
}

.messagebox .textWrapperSmall .note,.messagebox .textWrapper .note {
    margin-left:auto;
    margin-right:auto;
    padding:0;
}

.messagebox .infohead {
    background-color:#0a0a0d;
    padding:5px 0;
}

.messagebox .infohead table {
    margin:0 5px 0 0;
}

.textWrapperSmall li,.textWrapper ul li {
    list-style-type:square;
    list-style-position:inside;
}

.messagebox ul.toolbar {
    height:20px;
    list-style-type:none;
    margin:0;
    padding:0;
}

.messagebox ul.toolbar li {
    background-color:#13181d;
    background-attachment:scroll;
    background-repeat:no-repeat;
    background-position:5px 2px;
    border-right:1px solid #000;
    float:left;
    height:16px;
    min-width:179px;
    vertical-align:middle;
    margin:2px;
}

.messagebox ul.toolbar li:last-child {
    border-right:0;
}

.messagebox .showMsgNavi,.showmessage div.answerHeadline {
    background-color:#13181d;
    border:1px solid #000;
}

.messagebox ul li.reply {
    background-image:url(http://gf1.geo.gfsrv.net/cdn6d/33c49645c72c812e0156946af44f56.gif);
}

.messagebox ul li.tag {
    background-image:url(http://gf1.geo.gfsrv.net/cdnc1/75891faa1b4300673945211775764e.gif);
}

.messagebox ul li.notify {
    background-image:url(http://gf2.geo.gfsrv.net/cdn1a/44135e1f4f62f9268279ce424f9fbe.gif);
}

.messagebox ul li.shareReport {
    background-image:url(http://gf3.geo.gfsrv.net/cdn5d/eccd2d1775316166ba8439f7b00816.gif);
}

.messagebox ul li.hideReport {
    background-image:url(http://gf3.geo.gfsrv.net/cdn2d/4cb615d0dba32729d480d658d5125f.gif);
}

.messagebox ul li.recall {
    background-image:url(http://gf2.geo.gfsrv.net/cdna2/89624964d4b06356842188dba05b1b.gif);
}

.showMsgNavi ul li a:link,.showMsgNavi ul li a:visited,.showMsgNavi ul li a:active {
    display:inline-block;
    line-height:16px;
    padding-left:5px;
    vertical-align:top;
}

.searchLayer #netz table.searchresults {
    max-height:315px;
}

.searchLayer #netz table.searchresults td.pagebar {
    padding-bottom:5px;
}

#searchText {
    width:200px;
}

.no-touch .showMsgNavi ul li a:hover {
    color:#c4c4c4;
}

div.test {
    min-height:300px;
    height:300px!important;
}

.submit_answer {
    width:702px;
    margin:3px 0 0 25px;
}

.fleft {
    float:left;
}

#shortreport th {
    text-align:center;
    vertical-align:middle;
    padding:10px 0;
}

.battlereport td.value {
    text-align:right;
}

.battlereport .winner {
    font-weight:700;
    text-align:center;
    margin:10px auto;
    padding:10px 0;
}

table#shortreport {
    border-collapse:collapse;
}

#shortreport td {
    border-bottom:1px dotted #1a1a1a;
    font-size:11px!important;
    padding:2px 5px;
}

#shortreport td.col01 {
    padding:0 10px;
}

#shortreport td.next {
    padding-top:8px;
}

#shortreport td.spacer {
    width:25px;
}

#shortreport td.summary {
    padding:5px 0;
}

.battlereport h3 {
    margin:0;
    padding:0 0 10px;
}

.battlereport p {
    margin:0;
    padding:5px;
}

.battlereport .combatants div {
    float:left;
    text-align:center;
    width:100%;
    padding:10px 0;
}

.messagebox th.area,.messagebox td.defense {
    background-color:#13181d;
    border:1px solid #000;
    font-weight:700;
    text-align:center;
    padding:5px 0;
}

.messagebox .spy td {
    padding:5px;
}

.messagebox .fleetdefbuildings td.key {
    width:250px;
    border-bottom:1px dotted #161616;
}

.messagebox .fleetdefbuildings td.value {
    width:100px;
    border-bottom:1px dotted #161616;
}

.messagebox .note table td.attack {
    padding:10px 0;
}

.count {
    width:350px;
}

.showmessage .button188 {
    color:#fff;
    margin:0 0 0 190px;
}

.no-touch .buttonSave:hover {
    color:#fff;
    background:transparent url(http://gf1.geo.gfsrv.net/cdn62/95c8d984f0b5e1ecf05e731ffc35f2.gif) no-repeat 0 -81px;
}

.no-touch .button188:hover {
    color:#fff;
    background:transparent url(http://gf1.geo.gfsrv.net/cdn62/95c8d984f0b5e1ecf05e731ffc35f2.gif) no-repeat 0 -27px;
}

.messagebox .note table td.attack a.buttonSave {
    color:#0d1014;
    display:block;
    text-decoration:none;
    margin:0 auto;
}

.messagebox .note table td.attack a span {
    font-weight:700;
    line-height:27px;
}

.contentPageNavi {
    background:#13181d;
    height:24px;
    line-height:24px;
}

.contentPageNavi .icon_link {
    text-decoration:none;
    margin:3px 5px 0;
}

.contentPageNavi .pagination_txt {
    display:inline-block;
    height:24px;
    line-height:24px;
    vertical-align:top;
    padding:0 5px;
}

.searchLayer h2 {
    font:bold 17px Verdana,Arial,Helvetica,sans-serif;
    padding-left:70px;
    margin:12px 0;
}

.ajaxContent {
    background:rgba(0,0,0,0.6);
    min-height:300px;
    overflow-x:hidden;
    overflow-y:auto;
    margin:0;
    padding:10px 5px;
}

.searchLayer .ajaxContent table th,.searchLayer .ajaxContent table td {
    text-align:left;
    font-size:11px;
    padding:5px 2px;
}

.searchLayer .ajaxContent table th.highscore,.searchLayer .ajaxContent table td.highscore {
    text-align:right;
    width:120px;
    padding:5px 10px;
}

.searchLayer .ajaxContent table th.allyPoints,.searchLayer .ajaxContent table td.allyPoints {
    text-align:right;
    width:80px;
    padding:5px 10px;
}

.searchLayer .ajaxContent table th {
    border-bottom:1px dotted #848484;
    font-size:11px;
}

.searchLayer .ajaxContent .requestText {
    font-size:11px;
    width:570px;
    overflow:hidden;
}

tr.alt td {
    background:#13181d;
}

tr.over td {
    background:#212a33;
}

.buddyRequest .ajaxContent {
    min-height:250px;
    width:630px;
}

.showmessage {
    width:740px;
}

#jumpgate .showmessage {
    width:auto;
}

.showmessage strong {
    font-weight:700;
}

.showmessage div.answerHeadline {
    height:22px;
    font-weight:700;
    position:relative;
    bottom:0;
    text-transform:capitalize;
    padding:6px 0 0 3px;
}

.showmessage .answerHeadline a,.showmessage .answerHeadline a.open {
    display:block;
    height:22px;
    right:5px;
    top:3px;
    width:22px;
    position:absolute;
}

.showmessage .answerHeadline a {
    background:transparent url(http://gf1.geo.gfsrv.net/cdn0b/d55059f8c9bab5ebf9e8a3563f26d1.gif) no-repeat scroll 0 -22px;
}

.showmessage .answerHeadline.open a {
    background:transparent url(http://gf1.geo.gfsrv.net/cdn0b/d55059f8c9bab5ebf9e8a3563f26d1.gif) no-repeat scroll 0 0;
}

.answerForm {
    background:rgba(0,0,0,0.6);
    padding:0 0 10px;
}

.messagebox .own,.messagebox .newMessage,.messagebox .other {
    background:none repeat scroll 0 0 #1e242c;
    border:1px solid #000;
    -webkit-border-radius:3px;
    -moz-border-radius:3px;
    border-radius:3px;
    color:#a9a9a9;
    overflow:hidden;
    margin:0 40px 0 0;
    padding:5px;
}

.messagebox .other {
    background:#263240;
    margin:0 0 0 40px;
}

.messagebox .newMessage {
    margin:0;
}

.messagebox .info {
    font-size:10px;
    margin:15px 0 5px;
}

.messagebox .name {
    font-weight:700;
    color:#FFF;
}

.showmessage div.answerHeadline.pushable {
    background-color:#1f232c;
    cursor:pointer;
}

.messagebox div.retreatText {
    color:#fff;
    text-align:center;
    font-weight:700;
}

.messagebox div.retreatText span {
    font-size:9px;
    color:#848484;
    text-align:center;
}

.messagebox span.honorPoints {
    font-weight:400;
}

#kickMemberReason {
    width:600px!important;
    text-align:center;
}

#kickMemberReason textarea {
    width:550px;
}

.messagebox a:link,.messagebox a:visited,.messagebox a:active,.messagebox .tabsbelow a:active,.no-touch .messagebox .tabsbelow a:hover {
    color:#fff;
    text-decoration:none;
}

.battlereport .win,.battlereport .draw,.battlereport .lose,.battlereport div.combatants,.battlereport .combatants {
    background-color:#18131d;
    border:1px solid #000;
}

.searchLayer .ajaxContent table th.no,.searchLayer .ajaxContent table td.no,.searchLayer .ajaxContent table th.action,.searchLayer .ajaxContent table td.action {
    width:30px;
}